body {
    margin: 5% 20% 5% 20%;
    font-family: 'Segoe UI', sans-serif;
    font-size: large;
}

h1, h2, h3 {
    font-family: 'Ubuntu', sans-serif;
}

.block {
    padding-bottom: 2%;
}

a:link, a:visited {
    color: #232ED1; /* Persian blue */
}

@media (max-width: 500px) {
    body {
        margin: 5% 5% 5% 5%;
    }
}